{% extends "page.html" %}

    {% block content %}
        <div class="altview">
            <h4>Alternates View</h4>
            <p>See this content according to other views and formats:</p>
            <p><a href="{{ request.base_url }}?uri={{ request.values.get('uri') }}&_view=alternates"><em>Alternates</em> View</a></p>
        </div>
        <h1>{{ deets['name'] }}</h1>
        {%  if deets.get('u') is not none %}
        <p>Contact: <a href="{{ deets.get('u') }}">{{ deets.get('u').replace('mailto:', '') }}</a></p>
        {% endif %}
    {% endblock %}