body {
    margin: 0 auto;
}
h1, h2, h3 {
    font-family: 'Muli', sans-serif;
}

p, ul {
    font-family: Georgia, serif;
}

header, footer {
    background-color: lightgrey;
    padding:20px;
}

#content {
    padding:20px;
}

a {
    color: darkred;
}

a:hover {
    color: darkorange;
}


/* Pagination */
.pagination {
    margin: 10px 0;
    margin-top: 0;
    margin-bottom: 0;
}

.pagination > ul li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    float: left;
}

.pagination > ul li.active {
    font-weight: bold;
}

table.layout {
    border-collapse: collapse;
}

table.layout th {
    font-weight: bold;
    text-align: left;
}

table.layout tr {
    vertical-align: middle;
}

table.layout tr:nth-child(even) {
    background-color: #eee;
}

table.layout th,
table.layout td {
    padding: 5px;
}

.altview {
    float: right;
    display: block;
    background-color: #efefef;
    padding: 10px;
    width:320px;
    text-align:center;
}

.autopaginationinfo {
    float: right;
    display: block;
    background-color: #efefef;
    padding: 10px;
    width:320px;
    text-align:center;
}

.rdf {
    cursor: help;
    border: solid 1px #eeeeee;
    padding:3px;
}